<div class="navbar fixed-top navbar-dark bg-orderTableNavbar text-white">
    <a class="navbar-brand" routerLink="/">SPORT STORE (admin-order)</a>
    </div>
    
    <div class="form-check">
    <label class="form-check-label">
    
    Display Shipped Orders
    </label>
    </div>
    
    <table class="table table-sm">
    <thead>
    <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    </tr>
    </thead>
    <tbody>
   
    <tr>
    <td>vishal</td>
    <td>12336363</td>
    
    <button class="btn btn-outline-warning">
      Ship
      </button>
      <button class="btn btn-outline-danger ms-1">
      Delete
      </button>
    </tr>
    
 
    </tbody>
    </table>
    
    