.dataPlacement{
  padding-top: 4em;
}
.bg-purple{
    background-color:mediumpurple;
}
.bg-navyBlue{
    background-color:#12466b;
}
.bg-adminNavbar{
    background-color:#165481
}
.bg-productTableNavbar{
    background-color:#165481;
}
.bg-productEditorNavbar {
  background-color: #196b12;
}

.bg-orderTableNavbar {
  background-color: seagreen;
}
