<!-- <h1>Stores Information will come here ......</h1> -->
<div class="container-fluid row">
  <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
    <div class="d-grid gap-2">
      <button class="btn btn-outline-primary text-truncate" (click)="changeCategory()">Home</button>
      <button class="btn btn-outline-primary text-truncate" *ngFor="let cat of categories" (click)="changeCategory(cat)"
      [class.active]="cat==selectedCategory">{{cat}}</button>
    </div>
  </div>



  <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10" >
  <div class="card p-1 m-1 bg-light" *ngFor="let item of products">
  <h4 class="card-header text-dark text-left">{{item.productName}}
  <span class="badge rounded-pill bg-primary float-end">{{item.price|currency:'INR':'symbol':'2.2-2'}}</span>
  </h4>
  <div class="card-text p-1 text-dark bi-text-left ">
    {{item.description}}
    <button class="btn btn-outline-success btn-sm float-end m-1" (click)="addProductToCart(item)">Add to Cart</button>

  </div>
  
    </div>
   <div class="float-start m-1">
    <select class="form-control" [value]="productsPerPage" (change)="changePageSize($event.target.value)"> 
      <option value="3">3 Per Page </option>
      <option value="4">4 Per Page </option>
      <option value="6">6 Per Page </option>
      <option value="8">8 Per Page </option>
    </select>
   </div>
   <!-- without counter directive -->
<!-- <div class="btn-group float-end m-1">
<button class="btn btn-outline-primary" *ngFor="let page of PageNumbers" [class.active]="page==selectPage" (click)="changePage(page)">{{page}}</button>
</div> -->


  </div>
  </div>

