<div class="navbar fixed-top navbar-dark bg-productTableNavbar text-white">
  <a class="navbar-brand" routerLink="/">SPORTS STORE(admin-product-table)</a>
  </div>
  <button class="btn btn-sm btn-outline-primary m-1" routerLink="/admin/main/products/create">Create new Product
  </button>
  <table class="table table-sm table-striped table-bordered">
  <thead>
  <tr>
  <th>ProductId</th>
  <th>ProductName</th>
  <th>Category</th>
  <th>Price</th>
  <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of getProducts()">
  <td>{{p.productId}}</td>
  <td>{{p.productName}}</td>
  <td>{{p.category}}</td>
  <td>{{p.price|currency:'INR':'symbol':'2.2-2'}}</td>
  <td>
  <button class="btn btn-sm btn-outline-warning" [routerLink]="['/admin/main/products/edit',p.productId]">Edit</button>
  <button class="btn btn-sm btn-outline-danger ms-2" (click)="deleteProduct(p.productId!)">Delete</button>
  </td>
  </tr>
  </tbody>
  </table>